$font-family-base: 'Ping LCG', serif;

$white: #FFFFFF;
$blue:    #1242B0;
$red:     #DF2D15;
$orange:  #FE5000;

$deddie-black-1: #001432;
$deddie-peach-1: #DEAB9E;
$deddie-orange-dark: #E95612;
$deddie-orange-fade: #FFCBB3;
$deddie-grey-1: #939597;
$deddie-grey-2:#E5E5E5;
$deddie-light-blue-1: #F2F5FF;
$deddie-light-blue-2:#8AA1E3;
$deddie-light-grey-1: #DFDFDF;
$deddie-light-peach-1: #F0E1DD;
$deddie-light-beige-1:#F2F2F2;
$deddie-light-green-1:#E6F6EA;

$modal-backdrop-bg:                 #000;
$modal-backdrop-opacity:            .5;

$form-select-color: $deddie-black-1;

$input-color: $deddie-black-1;
$input-placeholder-color: $deddie-grey-1;

$navbar-dark-color:                 rgba($white, 1);
$navbar-dark-hover-color:           rgba($white, .75);
$navbar-dark-active-color:          $white;